<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="mode==1">
      <strong>Bad credentials ... </strong>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Authentification</div>
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="form-group">
          <label class="control-label"> Username :</label>
          <input class="form-control" ngModel="" type="text" name="username" required/>
        </div>
        <div class="form-group">
          <label class="control-label"> Password :</label>
          <input class="form-control"  ngModel="" type="password" name="password" required/>
        </div>
        <button type="submit" class="btn btn-danger" [disabled]="!f.valid">Login</button>
        <button (click)="onRegister()" class="btn btn-success">Register</button>
      </form>
    </div>
  </div>

</div>
