<div class="container">
  <p></p>
  <button class="btn btn-danger" *ngIf="authService.isAdmin()" (click)="onNewTask()">New Task</button>
  <table class="table table-striped">
    <tr>
      <th>ID</th><th>Task Name</th>
    </tr>
    <tr *ngFor="let t of tasks">
      <td>{{t.id}}</td>
      <td>{{t.taskName}}</td>
    </tr>
  </table>

</div>
